        <section class="perfume-details">
          <header>
            <div> 
              <h3>New perfume:</h3>
            </div>
          </header>
          
          <%- include("errors.ejs"), {errors} %>
          <form action="/add" method="post">
            <div class="field">
              <label for="">Perfume Name</label>
              <input required type="text" name="name" id="" value="<%= details.name %>">
            </div>
            <div class="field">
              <label for="">Image URL</label>
              
              <input required type="url" inputmode="url" name="image_url" id="" value="<%= details.image_url %>">
            </div>
            <div  class="field">
              <label for="desc">Description</label>
              
              <input type="text" name="description" id="desc" value="<%= details.description %>">
            </div>
            <div  class="field">
              <label for="">Purchase price ($)</label>
              
              <input type="number" inputmode="decimal" min="0" step=".01" name="price" id="" value="<%= details.price %>">
            </div>

            <div  class="field">
              <label for="">Inventory</label>
              
              <input type="number" inputmode="number" min="0" step="1" pattern="[0-9]*" name="count" id="" value="<%= details.count %>">
            </div>
            
            <%- include("perfume-fields.ejs", {details, brands, categories}); %>
            
            <div class="button-panel playfair-display-400">
              <button type="submit"><img class="icon" src="/images/save-icon.svg" alt="Save">Save</button>
            </div>
          </form>
        </section>
        
        