        <section class="perfume-details">
          <header>
            <div> 
              
              <img src="<%= el.image_url %>" alt="the bottle">
              
              <h3>ID#<%= el.perfume_id %></h3>
            </div>
            <div class="perfume-price-panel">
              
              <div>
                <label for="">Avg. Price ($)</label>
                
                <input disabled type="text" name="" id="" value="<%= Number(el.avg_price).toFixed(2) %>">
              </div>
              <div>
                <label for="">Inventory</label>
                
                <input disabled type="text" name="" id="" value="<%= el.total_count %>">
              </div>
              <div>
                <label for="">Receipt ids:</label>
                <select onchange="window.location.href = `/perfume-price-id/${this.value}`;" class="prices" id="perfume-prices" <%= (el.perfume_price_ids.length === 1) ? `disabled` : ``%>>
                  <% el.perfume_price_ids.forEach(price => { %>
                    <option value="<%= price %>" <%= (pp_id == price) ? 'selected' : '' %> ><%= price %></option>
                    <% }) %>
                  </select>
                </div>
              </div>
            </header>
            <form action="" method="post">
              <div class="field">
                <label for="">Perfume Name</label>
                <input type="text" name="" id="" value="<%= el.perfume_name %>">
              </div>
              <div  class="field">
                <label for="">Image URL</label>
                
                <input type="text" name="" id="" value="<%= el.image_url %>">
              </div>
              <div  class="field">
                <label for="">Description</label>
                
                <input type="text" name="" id="" value="<%= el.description %>">
              </div>
              
              <div  class="field">
                <label for="">Purchase price ($)</label>
                <% let [ perfumePriceInv ] = perfume_prices.filter(obj => obj.pp_id == pp_id); %>
                <input type="text" name="price" id="" value="<%= perfumePriceInv.pp_price %>">
              </div>
              
              <div  class="field">
                <label for="">Count</label>
                
                <input type="text" name="" id="" placeholder="nothing yet" value="<%= perfumePriceInv.pp_count %>">
              </div>
              <div class="field">
                <label for="">Brand</label>
                <select name="brands">
                  <% brands.forEach(brand => { %>
                    <% if (el.brand_id === brand.brand_id) { %>
                      <option selected id=<%= el.brand_id %> class="original" value="<%= brand.brand_name %>"><%= brand.brand_name %></option>
                      <% } else { %>
                        <option value="<%= brand.brand_name %>"><%= brand.brand_name %></option>
                        <% } %>
                        <% }); %>
                      </select>
                    </div>
                    <div class="field">
                      <label for="categories">Categories</label>
                      <select multiple id="categories" name="categoryType"> <% let currType = ""; %>
                        
                       <% for (let i = 0; i < categories.length; i++) { %>
                          <% if (currType !== categories[i].type) { %>
                            <option disabled>Type: <%= categories[i].type %> </option>
                            <% currType = categories[i].type %>
                            <% } %>
    <option id=<%= categories[i].category_id %> <%= (el.category_list.indexOf(categories[i].category_id) >= 0) ? 'selected class=original' : '' %> value="<%= categories[i].category_name %>" ><%= categories[i].category_name %></option >
                          <% } %>
                        </select>
                        </div>
                        <div class="button-panel playfair-display-400">
                          <button type="submit"><img class="icon" src="/images/save-icon.svg" alt="Save">Save Changes</button>
                          <button type="button"><a href="http://"><img class="icon" src="/images/perfume-plus.svg" alt="Add">Add Stock</a></button>
                          <button type="submit"><img class="icon" src="/images/delete-icon.svg" alt="Delete">Delete</button>
                        </div>
                      </form>
                    </section>
                    