<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/variables.css">
  <link rel="stylesheet" href="/nav.css">
  <link rel="stylesheet" href="/search.css">
  <link rel="stylesheet" href="/brands.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
  <title>Manage Inventory App Brands</title>
</head>
<body class="panel playfair-display-400">
  <%- include("partials/nav.ejs", {currentPage: ''}); %>
  <main>
    <section class="details brands">
      <header>
        <h3>Add, edit or delete a brand.</h3>
        
        <p>Note that deleting a brand requires a secret passcode and will result in all related perfumes getting deleted permanently!</p>
      </header>
      <div>
            <form action="/brands/<%= edit ? `update/${brandId}` : 'add' %>" method="POST">
              
              <%- include("partials/errors.ejs", {errors}) %>
              <div>
                
                <label for="new"><%= edit ? 'Edit brand name:' : 'Add new brand:' %></label>
                <input required id="new" type="text" name="brand" value="<%= edit ? brandName : '' %>" placeholder="<%= add ? 'add brand name' : '' %>">
              </div>
              <button type="submit">Submit</button>
              
              <% if (edit) { %>
                <a href="/brands/edit" class="add-button"><img src="/images/star-with-plus.svg" alt="add brand"><span>Add new brand</span></a> 
              <% } %>
            </form>
            <section>
              
              <ul>
                <% brands.forEach((brand) => { %>
                  <li>
                    <a href="/delete/brands/<%= brand.brand_id %>"><img src="/images/delete-icon.svg" alt="delete"></a>
                    
                    <a href="/brands/edit/<%= brand.brand_id %>"><img src="/images/pen.svg" alt="edit"></a>
                    <span><%= brand.brand_name %></span>
                    <span>Qty: <%= brand.perfume_count %></span>
                    
                  </li>
                  <% }); %>
              </ul>
              </section>
            </div>
          </section>
        </main>
      </body>
      </html>