<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/variables.css">
  <link rel="stylesheet" href="/nav.css">
  <link rel="stylesheet" href="/search.css">
  <link rel="stylesheet" href="/categories.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
  <title>Manage Inventory App Categories</title>
</head>
<body class="panel playfair-display-400">
  <%- include("partials/nav.ejs", {currentPage: ''}); %>
  <main>
    <section class="details categories">
      <header>
        <h3>Add, edit or delete a category type or category.</h3>
        
        <p>Note that deleting a category, or category type, requires a secret passcode and will result in all related perfumes getting deleted permanently!</p>
      </header>
      <div>
        <form action="/categories/<%= edit ? `update/${category.category_id}` : 'add' %>" method="POST">
          
          <%- include("partials/errors.ejs", {errors}) %>
          
          <header><%= edit ? 'Edit category:' : 'Add new category:' %></header>
          <div class="short">
            <label for="new">Type:</label>
            <input required  type="text" name="type" value="<%= edit ? category.type : '' %>" placeholder="<%= add ? 'add type' : '' %>">
          </div >
          <div class="short">
            <label for="new">Name:</label>
            <input required  type="text" name="name" value="<%= edit ? category.category_name : '' %>" placeholder="<%= add ? 'add name' : '' %>">
          </div>
          <button type="submit">Submit</button>
          
          <% if (edit) { %>
            <a href="/categories/edit" class="add-button"><img src="/images/wonky-plus-mod.svg" alt="add category"><span>Add new category</span></a> 
            <% } %>
          </form>
          <section class="mid-section">
            
            <% let currType = ""; %>
            <% categories.forEach((cat) => { %>
              <% if (currType !== cat.type) { %>
                <% if (currType !== "") { %>
                </details>
                <% } %>
                
                <% currType = cat.type %>
                
                <details class="cat-type" open>
                  <summary>
                    <div>

                      <div>
                        <%= cat.type %> <span class="qty">[Qty: <%= cat.pcountbycattype %>]</span>
                      </div>     
                    </div>        
                  </summary>
                  
                  
                  <% } %>
                  <div>
                    <a href="/delete/categories/<%= cat.category_id %>"><img src="/images/delete-icon.svg" alt="delete"></a>
                    
                    <a href="/categories/edit/<%= cat.category_id %>"><img src="/images/pen.svg" alt="edit"></a>
                    <span><%= cat.category_name %> <span class="qty">[Qty: <%= cat.pcountbycatid %>]</span></span>
                    
                  </div>
                  <% }); %>
                  
                  <% if (currType !== "") { %>
                    
                  </details>
                </section>
                <% } %>
                
              </section>
            </main>
          </body>
          </html>